.popup {
  width: 19.5vw;
  height: 36vh;
  background-color: var(--secondary-color);
  border-radius: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0.5vw 1vw 2vw rgba(0, 0, 0, 0.2); /* Change the box-shadow to be in terms of vw */
  padding: 2vh;
}

.popup-title {
  text-align: center;
  font-size: 1vw; /* Change the font-size to be in terms of vw */
  font-weight: bold;
  margin-bottom: 2vh; /* Change the margin to be in terms of vh */
  color: var(--text-color);
}

.popup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Center items vertically */
  height: 100%; /* Ensure the form takes full height of the popup */
}

.popup label {
  font-weight: bold;
  color: var(--text-color);
}

.popup input,
.popup textarea {
  margin-bottom: 1vh; /* Change the margin to be in terms of vh */
  padding: 1vw; /* Change the padding to be in terms of vw */
  border: 0.5px solid #ccc; /* Change the border to be in terms of vw */
  border-radius: 1vw; /* Change the border-radius to be in terms of vw */
  resize: none;
  width: 12vw;
}

.popup button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1vw;
  padding: 0.5vw 1vw;
}

.popup button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.form-group{
  display: flex;
  justify-content: space-between;
}

.button-group{
  display: flex;
  justify-content: center;

}
