  .card {
    display: flex;
	  align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    width: 100%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
  }

  .recipe-body {
    display: flex;
    flex-direction: row;
  }

  .recipe-title {
    text-align: center;
  }

  .recipe-ingredients-header {
    text-align: center;
    margin-right: 40px;
  }

  .recipe-deals-header {
    text-align: center;
    margin-right: 40px;
  }
  
  .recipe-instructions-header {
    text-align: center;
    margin-right: 40px;
  }
  .recipe-pantry-header {
    text-align: center;
    margin-right: 40px;
  }

  .page-number{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    background-color: var(--secondary-color);
    color: var(--header-color);
  }

  .button{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text--color);
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.button-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-items: auto;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  margin-top: 20px;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  margin-top: 20px;
}

.error-icon {
  font-size: 36px;
  margin-right: 20px;
}

.error-text {
  text-align: center;
}

.error-text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-text p {
  margin: 0;
  font-size: 16px;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  opacity: 0.5; /* Set the initial opacity for the transparent effect */
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.favorite-icon:hover {
  opacity: 1; /* Increase the opacity on hover to make it more visible */
}

.favorite-icon.active {
  filter: brightness(0%) saturate(500%) hue-rotate(-30deg); /* Apply a red color effect */
}


