[submodule "selenium"]
	path = src/github.com/tebeka
	url = https://github.com/tebeka/selenium
[submodule "mux"]
	path = src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "cors"]
	path = src/github.com/rs/cors 
	url = https://github.com/rs/cors
