[submodule "selenium"]
	path = selenium
	url = https://github.com/tebeka/selenium
[submodule "gorilla"]
	path = gorilla
	url = https://github.com/gorilla/mux
[submodule "cors"]
	path = cors 
	url = https://github.com/rs/cors
