.page {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: calc(100vh - 120px);
  }

  .user-title {
    margin: 0 auto;
    padding: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  