<div class="pantry-form-wrapper">
    <div class="table-container">
        <div class="table-header">
          <h2>Pantry</h2>
        </div>
        <div class="form-group">
            <div class="input-field">
              <label for="name">Name:</label>
              <input type="text" placeholder="Name" id="name" name="username" [(ngModel)]="name">
              <label for="quantity">Quantity:</label>
              <input type="number" placeholder="Quantity" id="quantity" name="quantity" [(ngModel)]="quantity">
              <label for="foodtype">Food Type:</label>
              <input type="text" placeholder="FoodType" id="foodtype" name="foodtype" [(ngModel)]="foodtype">
              <button type="button" (click)="postPantryItem()">Add</button>
            </div>


          </div>
        <div class="pantry-table-wrapper">
            <table class="table">
                <thead>
                  <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ingredient of pantry.Ingredients">
                    <td style="width:33%">{{ ingredient.Name }}</td>
                    <td style="width:33%">{{ ingredient.Quantity }}</td>
                    <td style="width:34%">
                      <button (click)="ingredient.Quantity = ingredient.Quantity + 1">+</button>
                      <button (click)="ingredient.Quantity = ingredient.Quantity - 1">-</button>
                      <button (click)="ingredient.Quantity = 0"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <button type="button" id="update-pantry-button" (click)="updatePantry()">Update Pantry</button>
      </div>
</div>