    .pantry-form-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .form {
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .form-group {
        display: flex;
        flex-direction: row;

    }
  
    .form-container {
        display: flex;
        align-items: center;
        margin: 20px;
        flex-wrap: nowrap;
        flex-direction: column;
        }
  
  
    .form-header {
        text-align: center;
    }
  
  .input {
    padding-right: 40px;
  
    &-wrapper {
      display: flex;
      align-items: center;
      position: relative;
    }
  
    &-field {
      position: relative;
      border-radius: 5px;
      padding: 5px;
      align-items: center;
    }
  
    }

    button {
      background-color: var(--button-hover-text-color);
      border: none;
      color: var(--button-text-color);
      padding: 5px 10px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: medium;
  }
  
  button:hover {
      background-color: var(--button-hover-color);
      color: var(--button-hover-text-color);
  }

  .pantry-table-wrapper { //when it is 100% it justifies to left
    // width: 100%;
    // display: flex;
    // justify-items: center;
  }

  .table-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.table {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

thead {
  display: flex;
  align-items: center;
}

th {
    flex: 1;
    font-size: large;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: left;
  }
  
  tr {
    border-bottom: 1px solid var(--primary-color);
    border-color: var(--primary-color);
    vertical-align: middle;
  }

  td {
    align-items: center;
    vertical-align: middle;
  }
  
  
  tr:last-child {
    border-bottom: none;
  }
  

button {
    background-color: var(--button-hover-text-color);
    border: none;
    color: var(--button-text-color);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

#update-pantry-button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--button-hover-text-color);
    color: var(--button-hover-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #update-pantry-button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
  }
