<div class="navbar">
  <div class="left-buttons">
    <button class="button" (click)="toggleNewRecipeComponent()">Add New Recipe</button>
  </div>
  <div class="middle-buttons">
    <button class="button center-button">Recipe Recommendation Filters</button>
  </div>
  <div class="right-buttons">
    <button class="button" *ngIf="showMyRecipesButton" (click)="toggleButtons('myRecipes'); postMyRecipesSelect()">View My Recipes</button>
    <button class="button" *ngIf="showFavoriteRecipesButton" (click)="toggleButtons('favoriteRecipes'); postFavoriteRecipesSelect()">View Favorite Recipes</button>
    <button class="button" *ngIf="showRecommendedRecipesButton" (click)="toggleButtons('recommendedRecipes'); postRecommendedRecipesSelect()">View Recommended Recipes</button>
  </div>
</div>
