<ng-container *ngIf="!hasError; else errorMessage">
<div class = "user-dashboard">
    <div class="highlighted-recipes-box">
        <div [@animSlider]="counter">
            <ng-container *ngFor="let o of recipes; let i=index">
                <div class="recipe-container" *ngIf="i===counter">
                    <h3>{{ recipes[i].R.title }}</h3>
                    <p>{{ "You have " + calculateRecipeIngredientsOwnedPercentage(i) + "% of the recipe ingredients!" }}</p>
                </div>
            </ng-container>
        </div>
        <div class="buttons-wrapper">
            
            <div class="arrows-container">
                <button (click)="onPrevious()"><i class="fa fa-arrow-left"></i></button>
                <button class="recipe-card-button" (click)="sizeRecipePreviewWindow()">Show Recipe Card</button>
                <button (click)="onNext()"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>  
    </div>
    <span class="hover-title">Return to some of your favorites!</span>
</div>
</ng-container>

<ng-template #errorMessage>
    <!-- Render the error message -->
    <div class="error-message">
      <div class="error-icon">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="error-text">
        <p>Welcome to MealDealz! Favorite recipes to see them here.</p>
      </div>
    </div>
  </ng-template>
