.user-dashboard{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.highlighted-recipes-box {
    width: 50vw;
    height: 30vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.5vh;
    padding: 2vh;
  }

  .recipe-container {
    padding: 0 5px; /* Add padding to create space on the left and right */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  

/* Add styles for the hover title */
.hover-title {
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    text-align: center;
    transition: opacity 0.5s ease;
    font-size: 1.75vw;
}

/* Show the hover title on hover */
.user-dashboard:hover .hover-title {
    opacity: 1;
}

  
  h3 {
    font-size: 2.5vw; /* Make the name larger, adjust as needed */
    margin-bottom: 0.5vh; /* Adjust the margin as needed */
    color: var(--header-color);
    border-radius: 50%;
    width: 100%; 
  }
  
  /* Styling for navigation arrows */
  button {
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
  }
  
  
  /* Hover effect for navigation arrows */
  button:hover {
    color: var(--text-color)
  }
  
  .arrows-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Take the full width of .popup */
    position: absolute;
    bottom: 0.3vw; /* Adjust the bottom position as needed */
    left: 0; /* Align the arrows to the left edge */
  }
  
  .fa-arrow-left,
  .fa-arrow-right {
    font-size: 1.3vw;
  }
  


  .recipe-card-button {
    position: absolute;
    bottom: 1.5vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
}

.recipe-card-button:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
  }