:root {
	--primary-color: #141451;
	--header-color: #549464;
	--secondary-color: #f8f0ca;
	--background-color: #0e3c2c;
	--text-color: #ec8091;
	// DDEA90
	//717F6B
  }
  
  body {
	background-color: var(--background-color);
	color: var(--text-color);
  }
  
  h1, h2, h3 {
	color: var(--header-color);
  }

  th {
    color: var(--header-color)
}

tr {
		color: var(--text-color)
}
  
  
  /* add more styles as needed */
  