<div class="filter-menu-component">
  <div class="container">
    <div class="menu-box">
      <div class="navbar">
        <h3 class="title">Generate Recommendations Using:</h3>
        <div class="menu-option">
          <input type="checkbox" [(ngModel)]="myRecipesValue" id="my-recipes" name="my-recipes">
          <label for="my-recipes">My Recipes</label>
        </div>
        <div class="menu-option">
          <input type="checkbox" [(ngModel)]="userRecipesValue" id="user-created-recipes" name="user-created-recipes">
          <label for="user-created-recipes">User Created Recipes</label>
        </div>
        <div class="menu-option">
          <input type="checkbox" [(ngModel)]="mdRecipesValue" id="mealdealz-classic-recipes" name="mealdealz-classic-recipes">
          <label for="mealdealz-classic-recipes">MealDealz Classic Recipes</label>
        </div>
      </div>
      <div class="button-container">
        <button class="save-button" (click)="postFilterValues()">Save Filters</button>
      </div>
    </div>
  </div>
</div>
