<div class="page">
    <div class="interior-container">
        <div class="centered-container">
            <div class="top-content-container">
                <div class="animation-container scaled-logo">
                    <app-animated-logo *ngIf="this.noUserActive" (generationComplete)="onGenerationComplete($event)"></app-animated-logo>
                </div>
                <app-user-dashboard *ngIf="this.userActive" (generationComplete)="onGenerationComplete($event)" (cardExpanded)="buttonMovement($event)"></app-user-dashboard>
            </div>
        </div>
        <div #popupsAndButtonsContainer class="popups-and-buttons-container" [ngStyle]="{ 'position': positionValue }">
            <div class="popups-container">
            <div class="popup-window" [class.show]="isButtonClicked('aboutUs')  || isButtonHovered('aboutUs')">
                <app-about-us></app-about-us>
            </div>
            <div class="popup-window" [class.show]="isButtonClicked('missionStatement') || isButtonHovered('missionStatement')">
                <app-mission-statement></app-mission-statement>
            </div>
            <div class="popup-window" [class.show]="isButtonClicked('developers')  || isButtonHovered('developers')">
                <app-developers></app-developers>
            </div>
            <div class="popup-window" [class.show]="isButtonClicked('faqs')  || isButtonHovered('faqs')">
                <app-faqs></app-faqs>
            </div>
            <div class="popup-window" [class.show]="isButtonClicked('feedback')  || isButtonHovered('feedback')">
                <app-feedback></app-feedback>
            </div>
            </div>
            <div class="button-container" *ngIf="buttonsVisible">
            <button class="button"  (click)="onButtonClick('aboutUs')" [class.clicked]="isButtonClicked('aboutUs')"  (mouseenter)="onButtonHover('aboutUs')" (mouseleave)="onButtonLeave('aboutUs')">
                <div class="image-wrapper">
                <span class="about-us"></span>
                </div>
                <span class="button-text">About Us</span>
            </button>
            <button class="button" (click)="onButtonClick('missionStatement')" [class.clicked]="isButtonClicked('missionStatement')"  (mouseenter)="onButtonHover('missionStatement')" (mouseleave)="onButtonLeave('missionStatement')">
                <div class="image-wrapper">
                    <span class="mission-statement"></span>
                    </div>
                    <span class="button-text">Our Mission</span>
            </button>
            <button class="button" (click)="onButtonClick('developers')" [class.clicked]="isButtonClicked('developers')"  (mouseenter)="onButtonHover('developers')" (mouseleave)="onButtonLeave('developers')">
                <div class="image-wrapper">
                    <span class="developers"></span>
                    </div>
                    <span class="button-text">Developers</span>
            </button>
            <button class="button" (click)="onButtonClick('faqs')" [class.clicked]="isButtonClicked('faqs')" (mouseenter)="onButtonHover('faqs')" (mouseleave)="onButtonLeave('faqs')">
                <div class="image-wrapper">
                    <span class="faqs"></span>
                    </div>
                    <span class="button-text">FAQs</span>
            </button>
            <button class="button" (click)="onButtonClick('feedback')" [class.clicked]="isButtonClicked('feedback')"  (mouseenter)="onButtonHover('feedback')" (mouseleave)="onButtonLeave('feedback')">
                <div class="image-wrapper">
                    <span class="feedback"></span>
                    </div>
                    <span class="button-text">Feedback</span>
            </button>
            </div>
        </div>
    </div>
</div>