
  /* Styles for the icon */
  .icon-container {
    width: 132px;
    height: 261px; /* 168px (top height) + 93px (bottom height) */
    position: relative;
  }
  
  .icon-top,
  .icon-bottom {
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .icon-top {
    background-image: url('../../../../assets/images/mealdealz-top.png');
    top: 0;
    width: 101%;
    height: 65%;
  }
  
  .icon-bottom {
    background-image: url('../../../../assets/images/mealdealz-bottom.png');
    bottom: 0;
    width: 100%;
    height: 35%;
    transition: transform 200ms ease-out; /* Add a CSS transition for smooth animation */
  }
  
  .icon-container.clicked .icon-bottom {
    transform: scaleY(0.7); /* Apply the scaleY transformation for the animation */
  }
  