/* Styles for the icon */
.icon-container {
  width: 132px;
  height: 261px; /* 168px (top height) + 93px (bottom height) */
  position: relative;
}

.icon-top,
.icon-bottom {
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-top {
  background-image: url('../../../../../../assets/images/mealdealz-top.png');
  top: 0;
  width: 101%;
  height: 65%;
}

.icon-bottom {
  background-image: url('../../../../../../assets/images/mealdealz-bottom.png');
  bottom: 0;
  width: 100%;
  height: 35%;
  transition: transform 200ms ease-out; /* Add a CSS transition for smooth animation */
}

.icon-container.clicked .icon-bottom {
  transform: scaleY(0.7); /* Apply the scaleY transformation for the animation */
}


/* Styles for the text container */
.text-container {
  position: absolute;
  top: 200px; /* Adjust the value to position the text container vertically */
  left: 250px; /* Adjust the value to position the text container horizontally */
  width: 250px; /* Adjust the value to set the width of the text container */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: top 500ms ease-out; /* Add a CSS transition for smooth animation of the 'top' property */
}

.text-container p {
  margin: 0;
  font-size: 18px; /* Adjust the font size as desired */
  white-space: normal; /* Enable text wrapping */
  animation: 5s linear; /* Use linear animation for smooth text appearance */
}

@keyframes textMovement {
  to {
    transform: translateY(-100px);
  }
}

