.form {
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    }
  
  
    .form-header {
      text-align: center;
    }

    button {
      background-color: var(--button-hover-text-color);
      border: none;
      color: var(--button-text-color);
      padding: 5px 10px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: medium;
  }
  
  button:hover {
      background-color: var(--button-hover-color);
      color: var(--button-hover-text-color);
    }

  button:focus{
    background-color: var(--background-color);
    color: var(--secondary-color);
  }

  button.clicked {
    background-color: var(--background-color);
    color: var(--secondary-color);
  }
