.form {
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  color:#0e3c2c
 }
 
.form-header {
    text-align: center;
    margin-top: 10px;
  }

.input {
  padding-right: 40px;

  &-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-field {
    position: relative;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
  }

  }

.password-button {
  position: absolute;
  right: 0;
  padding-right: 10px;
  }

  button {
    background-color: var(--button-hover-text-color);
    border: none;
    color: var(--button-text-color);
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

.login-button{
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.login-button:hover{
  background-color: var(--text-color);
  color: var(--primary-color);
}

.signup-link{
  margin-top: 10px;
}

.logo{
  background-image: var(--text-color-image);
  mask-image: url('../../../../assets/images/splitFull-default.svg');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block; /* Ensure it occupies space in the button */

  /* Set the dimensions for the icon */
  width: 100%;
  height: 100%;
}

.image-wrapper{
  height: 60px;
  width: 200px;
  margin-bottom: 10px;
}

.error-msg i,
.error-msg p {
  color: var(--text-color);
  margin: 0; /* Reset margin to avoid unintended spacing */
}

.error-msg i {
  margin-right: 5px;
  margin-top: 2px;
}

.error-msg p {
  vertical-align: middle; /* Vertically align the text */
  margin: 0; /* Reset margin to avoid unintended spacing */
  display: inline-block; /* Display the <p> element as inline-block */
  vertical-align: middle; /* Vertically align the <p> element */
}

.error-msg {
  width: 200px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

