<div class="page">
    <div class="page-body">
      <div class="list-container">
        <div class="list-header">
          <h2>Shopping List</h2>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Ingredients</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ingredient of list.Ingredients">
              <td>{{ ingredient.Name }}</td>
              <td>{{ ingredient.Quantity }}</td>
              <!--td>
                <button (click)="adjustQuantity(ingredient, 'increment')">+</button>
                <button (click)="adjustQuantity(ingredient, 'decrement')">-</button>
                <button (click)="deleteIngredient(ingredient)"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
              </td-->
            </tr>
          </tbody>
        </table>
  
        <!--<div class="add-ingredient">
          <input type="text" placeholder="Ingredient Name" [(ngModel)]="newIngredientName">
          <input type="number" placeholder="Quantity" [(ngModel)]="newIngredientQuantity">
          <button (click)="addIngredient()">Add</button>
        </div>-->
      </div>
    </div>
  </div>
  