<div class="page">
    <div class="page-header">MealDealz</div>
    <div class="page-body">
        <div class="page-body__sidebar">
            <h2 class ="ingredients-list-header">Ingredients</h2>
            <ul class="ingredients-list"> 
                <li class="ingredients-list__item" *ngFor="let ingredient of ingredients">
                    {{ ingredient.name }}
                </li>
              </ul>
            </div>
            <div class="page-body__details">
                <!--Forecast will be here soon...-->
            </div>
    </div>
</div>