.topnav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    z-index: 20;
    transition: all 0.2s ease-in-out;
  }

  img {
    float: left;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
   }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav u {
    float: right;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav b {
    float: right;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  
  .topnav .nav-link:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
  }
  .page {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    padding: 20px;
   
    &-body {
      color: var(--text-color);
      display: flex;
   
      width: 100%;
      max-width: 1140px;
      min-height: calc(100vh - 120px);
      margin: 0 auto;
   
    }
   }

