.topnav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    z-index: 20;
    transition: all 0.2s ease-in-out;
  }

  .logo{
    background-image: var(--text-color-image);
    mask-image: url('/assets/images/mainIcon-default.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;

    display: inline-block; /* Ensure it occupies space in the button */

    width: 20px;
    height: 40px;
  }

  .button:hover .logo{
    background-image: var(--primary-color-image);
    mask-image: url('/assets/images/mainIcon-default.svg'); 
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .image-wrapper{
    margin-top: 5px;
  }

  .button{    
    position: absolute;
    left: 50%; 
    transform: translate(-50%);

    width: 50px;
    height: 100%;
    background-color: var(--primary-color); 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0px;
  }

  .button:hover,
  .button.clicked{
    background-color: var(--text-color);
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav u {
    float: right;
    color: var(--text-color);
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav b {
    float: right;
    color: var(--text-color);
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
  }
 
  .nav-link{
    padding: 14px 16px;
    cursor: pointer;
  }
  .nav-link-button{
    padding: 0px 1px;
    margin-top: 14px;
    margin-right: 16px;
  }

  .topnav .nav-link-button:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
  }
  .topnav .nav-link:hover{
    background-color: var(--text-color);
    color: var(--primary-color);
  }
  .page {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    padding: 20px;
   
    &-body {
      color: var(--text-color);
      display: flex;
   
      width: 100%;
      max-width: 1140px;
      min-height: calc(100vh - 120px);
      margin: 0 auto;
   
    }
   }

