<div class="page">
    <div class="page-body">
        <div class="page-body__sidebar">
            <h2 class ="list-header">This</h2>
            <ul class="list"> 
                <li class="list__item" *ngFor="let ingredient of ingredients">
                    {{ ingredient.name }}
                </li>
            </ul>
        </div>
        <div class="page-body__sidebar">
            <h2 class ="list-header">Is</h2>
            <ul class="list"> 
                <li class="list__item" *ngFor="let ingredient of ingredients">
                    {{ ingredient.quanity }}
                </li>
            </ul>
        </div>
        <div class="page-body__sidebar">
            <h2 class ="list-header">Deals</h2>
            <ul class="list"> 
                <li class="list__item" *ngFor="let ingredient of ingredients">
                    {{ ingredient.price }}
                </li>
            </ul>
        </div>
    </div>
</div>
