.sub-recipe-header {
    text-align: center;
}

li.sub-ingredient {
    white-space: normal;
    padding: 5px;
}

.sub-ingredient-wrapper{
    margin-right: 5px;
}


.sub-ingredient-wrapper > button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    float: right;
    transform: translateY(20%);
    display: none;
}

.sub-ingredient-wrapper:hover > button{
    display: block;
    border: none;
    border-radius: 5px;
}

.in-list{
    background-color: var(--background-color);
}

.in-list:active{
    pointer-events: none;
}

.not-in-list {
    background-color: var(--primary-color);
  }

.sub-ingredient-wrapper > button.not-in-list:hover {
    background-color: var(--text-color);
}

.sub-ingredient-wrapper > button.not-in-list:focus{
    background-color: var(--background-color);
}

button > img {
    max-width: 12px;
    transform: translateY(-50%)
}

.in-list > img {
    content: url("/assets/images/addListClick.png");
    transform: translateY(-52%);
  }

.not-in-list:hover > img {
    content: url("/assets/images/addListHover.png");
    transition: 0.2s ease-in-out;
}

  .not-in-list:focus > img {
    content: url("/assets/images/addListClick.png");   
    transform: translateY(-52%);
    transition: 0.2s ease-in-out;
}

