.sub-recipe-header {
    text-align: center;
}

li.sub-ingredient {
    white-space: normal;
    padding: 5px;
}

li.sub-ingredient > button {
    width: 20px;
    height: 20px;
    margin-left: 15%;
    float: right;
    transform: translateX(75%) translateY(20%);
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
}

li.sub-ingredient > button:hover {
    background-color: var(--text-color);
}

li.sub-ingredient > button:focus{
    background-color: var(--background-color);
}

button > img {
    max-width: 12px;
    transform: translateY(-50%)
}

button:hover > img {
    content: url("/assets/images/addListHover.png");
    transition: 0.2s ease-in-out;
}

  button:focus > img {
    content: url("/assets/images/addListClick.png");   
    transform: translateY(-52%);
    transition: 0.2s ease-in-out;
}

