<div class="table-responsive">
  <button type="button" (click)="updatePantry()">UpdatePantry</button>
    <table class="table">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of pantry">
          <td>{{ ingredient.Name }}</td>
          <td>{{ ingredient.Quantity }}</td>
          <button (click)="ingredient.Quantity = ingredient.Quantity + 1">+</button>
          <button (click)="ingredient.Quantity = ingredient.Quantity - 1">-</button>
        </tr>
      </tbody>
    </table>
  </div>
  