<div class="table-container">
  <table class="table">
    <thead>
      <tr>

        <th><h2>Food Name</h2></th>

        <th><h2>Sale Info</h2></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of pantry;  let i = index">
        <td><div title="Add{{ ingredient.Name }}to your list!" class="ingredient-wrapper"><button class="not-in-list" [attr.id]="'row' + i" (click)="addToList(ingredient)"><img src="/assets/images/addList.png"></button>{{ ingredient.Name }}</div></td>
        <td>{{ ingredient.SaleDetails }}</td>
      </tr>
    </tbody>
  </table>
</div>

  