<div class="popup">
  
    <div [@animSlider]="counter">
      <ng-container *ngFor="let o of developerProfiles; let i=index">
        <div class="profile-container" *ngIf="i===counter">
          <img [src]="developerProfiles[i].picture" alt="Developer Picture"/>
          <h3>{{ developerProfiles[i].name }}</h3>
          <div class="links-container">
            <a [href]="developerProfiles[i].github" target="_blank"><i class="fa fa-github"></i></a>
            <a [href]="developerProfiles[i].linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="arrows-container">
        <button (click)="onPrevious()"><i class="fa fa-arrow-left"></i></button>
        <button (click)="onNext()"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>
  