.popup {
  width: 19.5vw;
  height: 36vh;
  background-color: var(--secondary-color);
  border-radius: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 2vh;
}

h3 {
  font-size: 2vw; /* Make the name larger, adjust as needed */
  margin-bottom: 1vh; /* Adjust the margin as needed ß*/
  color: var(--primary-color);
  border-radius: 50%;
  width: 110%; 
}

p {
  font-size: 1vw; /* Make the name larger, adjust as needed */
  margin-bottom: 1vh; /* Adjust the margin as needed */
  color: var(--text-color);
  width: 100%; 
}

.data-container {
  padding: 0 10px; /* Add padding to create space on the left and right */
  display: flex;
  flex-direction: column;
  align-items: center;
}