.page-content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.theme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.theme-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

.theme-button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.back-button-wrapper {
  position: fixed;
  top: 11vh; 
  left: 3vh; 
}

.back-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
}

.back-button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}
