<div class="page">
    <h2>Settings</h2>
    
    <div class="theme-section">
      <h2>Themes</h2>
      <button class="theme-button" (click)="setThemeDefault()">Set Default Theme</button>
      <button class="theme-button" (click)="setThemeCustom1()">Set Custom Theme 1</button>
      <button class="theme-button" (click)="setThemeCustom2()">Set Custom Theme 2</button>
      <button class="theme-button" (click)="setThemeCustom3()">Set Custom Theme 3</button>
      <button class="theme-button" (click)="setThemeCustom4()">Set Custom Theme 4</button>
    </div>
</div>
